<html>

<head>

</head>

<body>
    <video controls playsinline="true" autoplay></video>
</body>
<script>
    var video = document.querySelector('video');
    function fetchAB(start, end, cb) {
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "/", true);
        oReq.setRequestHeader("Content-type", "application/json");
        oReq.send(JSON.stringify({ start: start, end: end }))
        oReq.onload = function (data) {
            cb(data.srcElement.responseText)
        };
    }
    var mimeCodec = 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"';

    if ('MediaSource' in window && MediaSource.isTypeSupported(mimeCodec)) {
        var mediaSource = new MediaSource;
        //console.log(mediaSource.readyState); // closed
        video.src = URL.createObjectURL(mediaSource);
        mediaSource.addEventListener('sourceopen', sourceOpen);
    } else {
        console.error('Unsupported MIME type or codec: ', mimeCodec);
    }

    function sourceOpen(_) {
        //console.log(this.readyState); // open
        var mediaSource = this;
        var sourceBuffer = mediaSource.addSourceBuffer(mimeCodec);
        fetchAB(0, 100000, function (buf) {
            sourceBuffer.addEventListener('updateend', function (_) {
                mediaSource.endOfStream();
                video.play();
                console.log(mediaSource.readyState); // ended
            });
            let arrayBuffer = new Uint8Array(buf);
            console.log(arrayBuffer, buf)
            sourceBuffer.appendBuffer(arrayBuffer);
        });
    };
</script>

</html>